/* apply a natural box layout model to all elements, but allowing components to change */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 11pt;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { margin: 0; padding: 0;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 40px 120px 1fr;
  grid-template-rows: 30px 1fr;
  /* position: relative; */
}

nav {
  background-color: #efefef;
  grid-column: 1 / -1;
  border-bottom: solid 1px #aaa;
  font-size: 0.8rem;
  padding: 6px;
}

#toolbar {
  background-color: #666;
}

#gallery {
  background-color: #ddd;
  border-right: solid 1px #aaa;
  padding: 6px;
}

#probeInspectorExternal {
  max-height: 100%;
}

#probeInspectorExternal,
#probeInspector div {
  padding: 6px;
  border: dashed 1px rgb(121, 15, 68);
  margin: 6px;
}

#probeInspector {
  xmin-height: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
}

#probeActions {
}

#details {
  grid-column: 2 / -1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 30px 1fr;
  justify-items: stretch;
  align-items: center;
}

#details > span {
  border: solid 1px #aaa;
  text-align: center;
  padding: 3px 6px;
}

#details > p {
  align-self: start;
  padding-top: 12px;
}

dl {
  _display: none;
  margin: 0;
  padding: 0 6px;
}
dt {
  margin: 0;
  font-weight: 500;
  padding: 3px 0;
}
dd {
  margin: 0;
  padding: 2px 0 2px 1em;
  line-height: 1.4;
}
